<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384010699824-fvk7hfqrkg3p01g53cko3ko3jlvvcum4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384010699824-fvk7hfqrkg3p01g53cko3ko3jlvvcum4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>384010699824-78fcua72mnqiii8q93hmloooq57p13j9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC89DhmIJkJumsAC4WCbORtIqo1a_aPAfY</string>
	<key>GCM_SENDER_ID</key>
	<string>384010699824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.kalda</string>
	<key>PROJECT_ID</key>
	<string>kalda-flutter-flow</string>
	<key>STORAGE_BUCKET</key>
	<string>kalda-flutter-flow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384010699824:ios:13736d7312bfbcd30bd9f5</string>
</dict>
</plist>